/* src/components/Navbar.css */

.navbar {
    background-color: #007bff;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin-bottom: 1.5rem;
    transition: background-color 0.3s;
  }
  
  .navbar h1 {
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0;
    transition: color 0.3s;
  }
  
  .navbar h1:hover {
    color: #ffdd57;
  }
  
  .navbar .nav-links {
    display: flex;
    gap: 2rem;
  }
  
  .navbar .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    position: relative;
    transition: color 0.3s, transform 0.3s;
  }
  
  .navbar .nav-links a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -5px;
    left: 50%;
    background-color: #ffdd57;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
  }
  
  .navbar .nav-links a:hover {
    color: #ffdd57;
    transform: scale(1.1);
  }
  
  .navbar .nav-links a:hover::before {
    visibility: visible;
    width: 100%;
    left: 0;
  }
  
  .navbar .nav-links a.active {
    color: #ffdd57;
    font-weight: 700;
  }
  
  .navbar .menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .navbar .menu-toggle div {
    height: 3px;
    background: white;
    border-radius: 2px;
    transition: all 0.3s;
  }
  
  .navbar .menu-toggle.active .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .navbar .menu-toggle.active .line2 {
    opacity: 0;
  }
  
  .navbar .menu-toggle.active .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  @media (max-width: 768px) {
    .navbar .nav-links {
      display: none;
      flex-direction: column;
      background: #007bff;
      position: absolute;
      top: 70px;
      right: 0;
      width: 100%;
      text-align: center;
      padding: 1rem 0;
      border-radius: 8px;
    }
  
    .navbar .nav-links a {
      padding: 1rem 0;
      font-size: 1.2rem;
    }
  
    .navbar .nav-links.active {
      display: flex;
    }
  
    .navbar .menu-toggle {
      display: flex;
    }
  
    .navbar .menu-toggle.active {
      transform: rotate(90deg);
    }
  }
  