/* src/components/ProductDetailPage.css */

.product-detail-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    background-color: #f5f7fa;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
  }
  
  .product-detail {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
  }
  
  .product-detail img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: transform 0.3s;
  }
  
  .product-detail img:hover {
    transform: scale(1.05);
  }
  
  .product-info {
    flex: 1;
    min-width: 300px;
  }
  
  .product-info h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .product-info .price {
    font-size: 1.5rem;
    color: #e91e63;
    margin-bottom: 20px;
  }
  
  .product-info .description {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .product-info .add-to-cart {
    display: inline-block;
    padding: 15px 30px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .product-info .add-to-cart:hover {
    background-color: #0056b3;
  }
  
  .slick-dots {
    text-align: center !important;
    margin-top: 20px;
  }
  
  .slick-dots li {
    display: inline-block;
    margin: 0 5px;
  }
  
  .slick-dots li button {
    font-size: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
  }
  
  .slick-dots li button:before {
    content: "•";
    font-size: 14px;
    color: #999;
  }
  
  .slick-dots li.slick-active button:before {
    color: #333;
  }
  